N2-technologie_xml/releve.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:element name="releve" type="T_releve"/>
  
        <xsd:complexType name="T_releve">
            <xsd:sequence>
                <xsd:element name="dateReleve" type="xsd:date"/>
                <xsd:element name="solde" type="xsd:decimal"/>
                <xsd:element name="operations" type="T_operations"/>
            </xsd:sequence>
        <xsd:attribute name="RIB" type="xsd:string" use="required"/>
        </xsd:complexType>
    
        
        <xsd:complexType name="T_operations">
           <xsd:sequence>
                <xsd:element name="operation" maxOccurs="unbounded" type="T_operation"/>
           </xsd:sequence>
            <xsd:attribute name="dateDebut" type="xsd:date" use="required"/>
            <xsd:attribute name="dateFin" type="xsd:date" use="required"/>   
       </xsd:complexType>  
    
                
            <xsd:complexType name="T_operation">
                    <xsd:attribute name="type" type="xsd:string" use="required"/>
                    <xsd:attribute name="date" type="xsd:date" use="required"/>
                    <xsd:attribute name="montant" type="xsd:decimal" use="required"/>
                    <xsd:attribute name="description" type="xsd:string" use="required"/>        
           </xsd:complexType>
</xsd:schema>

