N3-web_services/Client-Ws/src/main/java/Proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BankWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8787/?xsd=1"/>
</xsd:schema>
</types>
<message name="convertionEuroToDh">
<part name="parameters" element="tns:convertionEuroToDh"/>
</message>
<message name="convertionEuroToDhResponse">
<part name="parameters" element="tns:convertionEuroToDhResponse"/>
</message>
<message name="ListAccounts">
<part name="parameters" element="tns:ListAccounts"/>
</message>
<message name="ListAccountsResponse">
<part name="parameters" element="tns:ListAccountsResponse"/>
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<portType name="BankAccountService">
<operation name="convertionEuroToDh">
<input wsam:Action="http://ws/BankAccountService/convertionEuroToDhRequest" message="tns:convertionEuroToDh"/>
<output wsam:Action="http://ws/BankAccountService/convertionEuroToDhResponse" message="tns:convertionEuroToDhResponse"/>
</operation>
<operation name="ListAccounts">
<input wsam:Action="http://ws/BankAccountService/ListAccountsRequest" message="tns:ListAccounts"/>
<output wsam:Action="http://ws/BankAccountService/ListAccountsResponse" message="tns:ListAccountsResponse"/>
</operation>
<operation name="getAccount">
<input wsam:Action="http://ws/BankAccountService/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://ws/BankAccountService/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
</portType>
<binding name="BankAccountServicePortBinding" type="tns:BankAccountService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="convertionEuroToDh">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankWS">
<port name="BankAccountServicePort" binding="tns:BankAccountServicePortBinding">
<soap:address location="http://localhost:8787/"/>
</port>
</service>
</definitions>